
/* Add a padding to all PureCSS containers.
 * See: http://purecss.io/grids/#applying-padding-and-borders-to-grid-units
 */
.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.one-box {
  padding: 0 1em 0 1em;
}

/* Various headings */
.kbsymanz-headingStyle {
  font-family: "Roboto, Helvetica, Arial, Sans-serif";
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0;
  opacity: 0.54;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0.5;
}
.kbsymanz-headingStyle2 {
  font-family: "Roboto, Helvetica, Arial, Sans-serif";
  font-size: 35px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0;
  opacity: 0.54;
}
.kbsymanz-appHeaderStyle {
  font-family: "Roboto, Helvetica, Arial, Sans-serif";
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0;
  opacity: 0.84;
  background-color: #009688;  /* teal */
  color: #DADDD6; /* off white */
  height: 50px;
  padding-top: 0.5em;
  padding-bottom: 0;
}
.kbsymanz-appHeaderStyle-left {
  padding-left: 0.5em;
}
.kbsymanz-appHeaderStyle-right {
  padding-right: 0.5em;
}
.kbsymanz-appHeaderUserMessage {
  background-color: #009688;  /* teal */
  color: #DADDD6; /* off white */
  font-family: Sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 0.25em 1em 0.25em 1em;
  text-align: right;
}

/* Checkboxes */
.kbsymanz-checkbox-wrapper {
  font-size: 120%;
}
.kbsymanz-checkbox-wrapper input {
  width: 20px;
  height: 20px;
  margin-right: 0.75em;
}

/* Buttons */
.kbsymanz-button {
  margin-right: 2em;
}

/* Textfields */
.kbsymanz-textfieldString label {
  font-weight: bold; 
}
.kbsymanz-textfieldString input {
  font-size: 1.5em;
}
.kbsymanz-textfieldString textarea {
  font-size: 1.5em;
}
